<h2><%= l(:label_user_mentions, link_to_user(@user)).html_safe %></h2>

<div id="activity">
  <% @mentions_by_day.keys.sort.reverse.each do |day| %>
    <h3><%= format_activity_day(day) %></h3>
    <dl>
      <% @mentions_by_day[day].sort{ |a, b| b.created_on <=> a.created_on }.each do |mention| %>
        <dt class="<%= mention.class_name %> icon icon-<%= mention.class_name %> <%= 'me' if User.current.logged? && User.current == mention.author %>">
          <% if mention.author %>
            <%= avatar(mention.author, :size => 24) %>
          <% end %>
          <span class="time"><%= format_time(mention.created_on, false) %></span>
          <%= content_tag('span', h(mention.project), :class => 'project') if mention.project %>
          <% if mention.url %>
            <%= link_to(format_activity_title(mention.title), mention.url) %>
          <% else %>
            <%= format_activity_title(mention.title) %>
          <% end %>
        </dt>
        <dd>
          <% if mention.description %>
            <span class="description"><%= format_activity_description(mention.description) %></span>
          <% end %>
          <% if mention.author %>
            <span class="author"><%= link_to_user(mention.author) %></span>
          <% end %>
        </dd>
      <% end %>
    </dl>
  <% end %>
</div>

<span class="pagination">
  <ul class="pages">
    <% if (@offset - (@prev_offset || 0)) >= 50 %>
      <li class="previous page">
        <% prev_params = params.respond_to?(:to_unsafe_hash) ? params.to_unsafe_hash : params.dup %>
        <% prev_params[:next_offset] = @prev_offset if @prev_offset %>
        <%= link_to("\xc2\xab " + l(:label_previous), prev_params.merge(:offset => @offset), :title => l(:label_previous), :accesskey => accesskey(:previous)) %>
      </li>
    <% end %>
    <% if @next_offset %>
      <li class="next page">
        <% next_params = params.respond_to?(:to_unsafe_hash) ? params.to_unsafe_hash : params %>
        <%= link_to(l(:label_next) + " \xc2\xbb", next_params.merge(:offset => @next_offset), :title => l(:label_next), :accesskey => accesskey(:next)) %>
      </li>
    <% end %>
  </ul>
</span>

<p>&nbsp;</p>

<% html_title(l(:label_mentions), @user) %>
